.just{
    width: 30%;
    height: 50%;
    border: 2px solid;
    border-color:rgb(25, 227, 153);
    padding: 100px 50px;
    margin: 50px auto;
    border-radius: 16px;
   background-color: rgb(25, 227, 153);
   font-family: sans-serif;
}
.jus{
  
    margin-bottom: 0px;
}
.justh{
    margin-top: 0px;
}
.btn{
   
    margin-top: 10px;
    margin-bottom: 40px;
    

    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 60px;
    
}


.bor{
    border: 1px solid lightgray;
    width: 430px;
    
    margin: 50px;
    border-radius: 14px;
    font-family: sans-serif;
}
.hen{
    padding: 0px 10px;
}
.pp{
    color:gray ;
    margin-bottom: 0%;
    padding: 0px 10px;
}
.para{
    color:gray ;
    margin-top: 0%;
    padding: 0px 10px;
}
.box-img{
    width: 100%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 70px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.box-imgi{
    width: 100%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 40px;
    object-fit: cover;
}
.card-body{
    color:rgb(6, 141, 252) ;
    margin: 20px;
    padding: 0px 10px;
    font-size: large;

}


.footer{
    border-top: 1px solid lightgray;
}


.card{
    width: 270px;
    margin:15px auto;
    font-family: sans-serif;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.cardbody{
    padding:  10px;
}
.foot{
    border-top: 1px solid lightgray;
}
.pop{
    color: gray;
}

.inline-text {
    display: inline-block; /* Ensures the paragraph stays on the same line as the icon */
    margin-left: 8px; /* Optional: Adds some space between the icon and text */
    vertical-align: middle; /* Aligns the text vertically with the icon */
    color: gray;
    margin-bottom: 0%;
    margin-top: 0%;
}
.btt{
    background-color: white;
    color: rgb(6, 141, 252);
    border:1px solid lightgray;
    padding: 10px 15px ;
    font-size: large;
    border-radius: 5px;
}
